.x6-node[data-shape='dag-node'] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  &.available {
    .dag-task-body {
      stroke: #288fff;
      stroke-width: 1;
      stroke-dasharray: 5, 2;
    }
    &.adsorbed {
      .dag-task-body {
        stroke-width: 3;
      }
    }
  }
}

[class*="dag-light"] {
  --custom-disable-bg: #f3f3f5
}

[class*="dag-dark"] {
  --custom-disable-bg: #d3d3d3
}